<div class="row" ng-controller="productListCtrl as productList" ng-hide="petStore.data.error">
    <div class="col-xs-2">
        <a ng-click="productList.selectCategory(null)" class="btn btn-block btn-default btn-lg" ng-class="productList.getCategoryClass(null)">All ({{petStore.data.products.length}})</a>
        <a ng-repeat="item in petStore.data.products | orderBy:'category' | unique:'category'" ng-click="productList.selectCategory(item)"
        class="btn btn-block btn-default btn-lg" ng-class="productList.getCategoryClass(item)">{{item}}</a>
    </div>
    <div class="col-xs-5">
        <div class="well" ng-repeat="item in petStore.data.products | filter:productList.categoryFilterFn | range:productList.selectedPage:productList.pageSize">
            <h3>
                <strong>{{item.name}}</strong>
                    <span class="pull-right label label-primary">
                        {{item.price | currency}}
                    </span>
            </h3>
            <button ng-click="productList.addProductToCart(item)" class="btn btn-success pull-right">
                Add To Cart
            </button>
            <span class="lead">{{item.description}}</span>
        </div>
        <div class="pull-right btn-group">
            <a ng-repeat="page in petStore.data.products | filter:productList.categoryFilterFn | pageCount:productList.pageSize" ng-click="productList.selectPage($index + 1)"
            class="btn btn-default" ng-class="productList.getPageClass($index + 1)">
                {{$index + 1}}
            </a>
        </div>
    </div>
    <div class="col-xs-5">
        <div shopping-cart-panel></div>
    </div>
</div>