<div class="alert alert-danger" ng-show="petStore.data.orderError">
    Error ({{petStore.data.orderError.status}}). The order could not be placed.
    <a ui-sref="placeorder" class="alert-link">Click here to try again</a>
</div>

<div class="well" ng-hide="petStore.data.orderError">
    <h2>Thank you!</h2>
    <p>Thank you for placing your order. We'll ship your goods as soon as possible. If you need to contact us, use reference
    {{petStore.data.orderId}}.</p>
    <p><a ui-sref="petstore">Return to the catalogue.</a></p>
</div>